Fonlow.DocComment/XmlDocument.xsd

<?xml version="1.0" encoding="gb2312"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="doc">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="assembly">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="members">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="member">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="summary">
                      <xs:complexType mixed="true">
                        <xs:sequence minOccurs="0">
                          <xs:element maxOccurs="unbounded" name="see">
                            <xs:complexType>
                              <xs:attribute name="cref" type="xs:string" use="optional" />
                              <xs:attribute name="langref" type="xs:string" use="optional" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="value" type="xs:string" />
                    <xs:element minOccurs="0" name="remarks">
                      <xs:complexType mixed="true">
                        <xs:sequence>
                          <xs:element name="see">
                            <xs:complexType>
                              <xs:attribute name="cref" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element maxOccurs="unbounded" name="code" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="param">
                      <xs:complexType mixed="true">
                        <xs:sequence minOccurs="0">
                          <xs:element name="see">
                            <xs:complexType>
                              <xs:attribute name="cref" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="name" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="returns">
                      <xs:complexType mixed="true">
                        <xs:sequence minOccurs="0">
                          <xs:element name="see">
                            <xs:complexType>
                              <xs:attribute name="cref" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="name" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>